@use 'sass:map';

@use '@material/web/icon/icon';

.privacy-dialog-content {
  @include icon.theme(
    (
      size: 1em,
    )
  );

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
