@use '@material/web/list/list';

@use '@/scss/typescale';

.search-bar {
  align-items: center;
  background: var(--md-sys-color-surface-container-high);
  border-bottom: 1px solid var(--md-sys-color-outline);
  display: flex;
  height: 64px;
}

.search-input {
  @include typescale.shorthand('body-large');

  background: none;
  border: none;
  color: var(--md-sys-color-on-surface);
  flex: 1;
  height: 100%;
  outline: none;
  width: 100%;

  &::placeholder {
    color: var(--md-sys-color-on-surface-variant);
  }

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}

.search-control {
  flex: 0 0 auto;
  margin-inline: 8px;
}

.content {
  @include list.theme(
    (
      container-color: var(--md-sys-color-surface-container-high),
    )
  );

  min-height: 100%;
}
