@use '@/scss/typescale';

.container {
  @include typescale.shorthand('label-large');

  align-items: center;
  border-radius: 8px;
  display: flex;
  height: 3rem;
  justify-content: center;
  text-align: center;
  width: 3rem;
}

.highlight {
  composes: container;
  background: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

.normal {
  composes: container;
  background: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.inactive {
  composes: container;
  background: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface-variant);
}
