.headline,
.content {
  user-select: none;
}

.field {
  align-items: center;
  display: flex;
  height: 48px;
  margin-inline: -24px;
  padding-inline: 12px;

  > * {
    flex: 0 0 auto;
  }
}

.field-label {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline: 4px 12px;
  pointer-events: none;
  white-space: nowrap;
}
