@use '@material/web/color/color';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  &.light-theme {
    @include color.light-theme();
  }

  &.dark-theme {
    @include color.dark-theme();
  }

  &.text-lg {
    font-size: 120%;
  }

  &.text-xl {
    font-size: 150%;
  }

  &.text-xxl {
    font-size: 200%;
  }
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  margin: 0;
  overscroll-behavior-y: contain;
  user-select: none;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
  color: var(--md-sys-color-primary);
}

md-list-item > md-icon-button:is([slot='start'], [slot='end']) {
  margin-inline: -8px;
}

#root {
  height: 100dvh;
}
